{
  "extends": "rallycoding",
  "rules": {
    "arrow-body-style": 0,
    "no-var": 0,
    "one-var": 0,
    "no-restricted-syntax": 0,
    "no-continue": 0,
    "array-callback-return": 0,
    "react/sort-comp": 0,
    "object-shorthand": 0,
    "no-else-return": 0,
    "guard-for-in": 0
  }
}
